@media (max-width: 800px) and (min-width: 0px) {

    @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


    html {
        scroll-behavior: smooth;
    }


    body {
        margin: 0px;
    }

    .navegacao {
        display: flex;
        padding: 10px;
        gap: 20px;
        background-color: #fcfcfc;
        align-items: center;
    }

    .logo {
        width: 50px;
    }

    .navaa {
        display: flex;
        margin-left: 1%;
        gap: 5px;
        align-items: center;
        margin: 0px;
    }

    .nava {
        text-decoration: none;
        color: #000000;
        font-family: Arial, Helvetica, sans-serif;
    }

    .btnnav {
        background-color: #043d04d0;
        color: white;
        border-radius: 5px;
        cursor: pointer;
        border: none;
        padding: 5px;
        transition: background-color 0.70s cubic-bezier(0.4, 0, 0.2, 1),
            transform 0.70s cubic-bezier(0.4, 0, 0.2, 1);
    }

    .btnnav:hover {
        background-color: #044b04c7;
        color: #fff;
        transform: translateY(-1px);
        box-shadow: 1px 1px 5px rgba(19, 31, 11, 0.411);
    }

    .btnnav:active {
        background-color: #131f0b;
        transform: translateY(1px);
        box-shadow: 3px 3px 12px rgba(19, 31, 11, 0.2);
    }

    /*Segunda Parte*/

    .principal {
        background-image: linear-gradient(0deg, #033303, #459645);
        text-align: center;
        padding: 40px;
        font-family: "Bebas Neue", sans-serif;
        gap: 10px;
        min-height: 120px;
    }

    .titulo {
        color: white;
        font-family: "Bebas Neue", sans-serif;
        font-style: normal;
        margin: 0px;
    }

    .subtitulo {
        color: white;
        margin: 15px;
        font-family: "Bebas Neue", sans-serif;
    }

    .agendar {
        padding: 8px;
        border-radius: 8px;
        color: rgba(0, 182, 30, 0.849);
        background-color: #ffffff;
        border-color: rgb(0, 158, 26);
        transition:
            background-color 0.5s cubic-bezier(0.4, 0, 0.2, 1),
            transform 0.7s cubic-bezier(0.34, 1.56, 0.64, 1);
    }

    .agendar:hover {
        transform: scale(1.08);
        border: none;
        background-color: #1A631A;
        color: #fff;
        box-shadow: 1px 1px 12px rgba(19, 31, 11, 0.2);
    }

    .agendar:active {
        transform: scale(0.9);
        background-color: #1A631A;
        color: #fff;
    }

    /*Terceira Parte*/

    .servicos {
        background-color: white;
        align-items: center;
        text-align: center;
    }

    .servih1 {
        text-align: center;
        font-family: "Bebas Neue", sans-serif;
        margin: 12px;
    }

    .imgs1,
    .imgs2,
    .imgs3 {
        width: 100px;
        border-radius: 20px;

    }

    .sservicos {
        display: flex;
        justify-content: center;
        gap: 15px;
    }

    .subt1 {
        text-align: center;
        font-family: "Bebas Neue", sans-serif;
        margin-top: 8px;
        ;
    }

    /*Quarta Parte*/

    .conteudo {
        display: flex;
        background-color: white;
        padding: 10px;
    }

    .conteudo1 {
        display: flex;
        width: 100%;
        color: #000000;
        background-color: white;
    }

    .conteudo2 {
        display: flex;
        width: 2000px;
    }

    .conh1 {
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        color: #fff;
    }

    .mapa {
        height: 200px;
        border-radius: 20px;
        width: 330px;
        margin: auto;

    }

    /*Ultima parte*/

    .h1footer {
        font-family: "Bebas Neue", sans-serif;
        text-align: center;
    }

    .btns {
        display: flex;
        flex-wrap: wrap;
        background-image: linear-gradient(0deg, #033303, #459645);
        padding: 25px;
        text-align: center;
        margin: auto;
        gap: 20px;
        justify-content: center;
    }

    .btn {
        border-color: #009e00;
        padding: 6px;
        border-radius: 13px;
        color: rgb(0, 168, 8);
        background-color: #ffffff;
        justify-content: center;
        align-items: center;
        box-shadow: 1px 1px 3px #0000006c;
        transition: transform 0.3s ease;
    }

    .btn:hover {
        transform: scale(1.08);
    }

    .btn:active {
        transform: scale(0.80);
    }

}